.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-foto {
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

.App-link {
  color: #33cfff;
  text-decoration: underline;
  font-size: 1.1rem;
}
